<section class="mx-auto flex h-full flex-col justify-between px-4 lg:w-[740px]">
  @if (product) {
    <div class="flex flex-col gap-5">
      <a class="flex items-center" routerLink="/">
        <span class="text-2xl">
          <i class="bi bi-arrow-left-short"></i>
        </span>
        Back home
      </a>

      <div class="flex justify-center gap-4 md:gap-8">
        <img
          class="size-52 rounded-full object-cover sm:size-80"
          [src]="product.thumbnail"
          [alt]="product.name"
          (click)="openImage(product.thumbnail)" />
        <div class="flex flex-col gap-2">
          @for (image of product.images; track $index) {
            <img
              class="size-16 rounded-full object-cover sm:size-24"
              [src]="image.url"
              [alt]="product.name"
              (click)="openImage(image.url)" />
          }
        </div>
      </div>

      <div>
        <h1 class="text-center text-2xl font-bold">{{ product.name }}</h1>
        <h2 class="text-center text-xl font-bold">
          {{ product.price | currency: 'EUR' }}
        </h2>
      </div>

      <p class="text-pretty">
        {{ product.description }}
      </p>
    </div>

    <div class="sticky bottom-0 flex justify-center bg-white py-4">
      @if (cartService.checkProductInCart(product.id) | async) {
        <button
          class="w-1/4 min-w-fit rounded-full border-b-4 border-b-pink-600 bg-blue-300 px-12 py-2 text-4xl hover:bg-pink-200 active:bg-yellow-100"
          (click)="cartService.removeFromCart({ id: product.id })">
          Quitar
        </button>
      } @else {
        <button
          class="w-1/4 min-w-fit rounded-full border-b-4 border-b-blue-600 bg-pink-300 px-12 py-2 text-4xl hover:bg-pink-200 active:bg-yellow-100"
          (click)="cartService.addToCart(product)">
          Añadir
        </button>
      }
    </div>
  } @else {
    <!-- TODO: no product -->
  }
</section>

@if (selectedImage) {
  <div
    class="absolute left-0 top-0 z-50 h-full max-h-full w-full overflow-y-auto overflow-x-hidden bg-gray-700/40 md:inset-0">
    <div class="flex h-full items-center justify-center" (click)="closeImage()">
      <div class="relative max-h-full w-full max-w-md p-4">
        <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
          <button
            type="button"
            class="absolute end-2.5 top-3 ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14">
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>

          <div class="p-4 text-center md:p-5">
            <img [src]="selectedImage" [alt]="product?.name" />
          </div>
        </div>
      </div>
    </div>
  </div>
}
