<button
  class="size-12 rounded border-b-2 border-blue-700 bg-pink-300"
  (click)="toggleCart()">
  <i class="bi bi-bag text-2xl"></i>
</button>

<aside
  class="fixed right-0 top-0 flex h-full w-72 flex-col items-center overflow-y-auto bg-black/90 p-8 transition {{
    isCartOpened ? 'translate-x-0' : 'translate-x-full'
  }}">
  <div class="flex w-full justify-end">
    <button (click)="toggleCart()">
      <i class="bi bi-x text-2xl text-white"></i>
    </button>
  </div>

  <div class="w-full text-white">
    <strong class="text-2xl">Total: </strong
    ><span>{{ cartService.getTotalFromCart() | async | currency: 'EUR' }}</span>
  </div>

  <ul class="mb-2 mt-4 border-b-2 border-b-slate-800">
    @for (product of cartService.cart | async; track product.id) {
      <ng-container
        *ngTemplateOutlet="cartItem; context: { $implicit: product }">
      </ng-container>
    }
  </ul>

  <button
    class="flex rounded border-b-2 border-b-blue-700 bg-pink-300 px-4 py-2"
    (click)="clearCart()">
    <i class="bi bi-bag-x text-2xl"></i>
  </button>
</aside>

<!-- CART ITEM -->
<ng-template #cartItem let-product>
  <li class="mb-4 flex flex-col gap-2 rounded text-white">
    <img class="rounded" [src]="product.thumbnail" [alt]="product.name" />
    <div>
      <strong>{{ product.name }}</strong> -
      {{ product.price | currency: 'EUR' }}
    </div>
    <footer class="flex justify-around text-black">
      <button
        class="rounded border-b-2 border-b-blue-700 bg-pink-300 px-3 hover:outline hover:outline-1 hover:outline-blue-700"
        (click)="cartService.removeOneFromCart(product)">
        <i class="bi bi-dash"></i>
      </button>
      <span class="text-white">{{ product.quantity }}</span>
      <button
        class="rounded border-b-2 border-b-blue-700 bg-pink-300 px-3 hover:outline hover:outline-1 hover:outline-blue-700"
        (click)="cartService.addToCart(product)">
        <i class="bi bi-plus"></i>
      </button>
    </footer>
  </li>
</ng-template>
